<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <h2>Shopping List</h2>

        <div>
            <table border="1px solid black">
                <tr>
                    <th>Sl.No</th>
                    <th>Items</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="item in items">
                    <td>{{$index+1}}</td>
                    <td>{{item}}</td>
                    <td><button ng-click="rem($index)">Delete</button></td>
                </tr>
            </table>
        </div>

        <div>
            <label for="add">Enter an item to add :</label>
            <input type="text" id="add" placeholder="eg: apple" ng-model="newI">
            <button ng-click="Add()">Add</button>
        </div>

    </div>

    <script>
        var app = angular.module('myApp',[])
        app.controller('myCtrl', function($scope){
            $scope.items = [
                'Apple', 'Banana', 'Orange'
            ];

            $scope.Add = function(){
                $scope.items.push($scope.newI);
                $scope.newI = '';
            }

            $scope.rem = function(index){
                $scope.items.splice(index, 1);
            }
        })
    </script>

</body>
</html>
